<!doctype html>
<html>
<head>
	<title> SMART FARM PAGE  </title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />  

</head>
<body>
<div class="temp_humi"><a href="/temp/">TEMP <a href="/humi/"> HUMI</a></div>
<div class="cds"><a href="/cds/">CDS</a></div>
<div class="home"><a href="/home/">HOME</a></div>
<div class = "all"><a href="/all/">ALL</a></div>
<br/>
<p>Here is <span id="state">{{state }}</span></p>
<p>temp = <span id="temp">{{temp}}</span></p>
<p>humi = <span id="humi">{{humi}}</span></p>
<p>cds = <span id="cds">{{cds}}</span></p>
</body>
</html>